@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

/* colours
   backgrounds: #ddd
   primary: #54a0ff

 */

body {
  background: #fff;
  color: black;
  font-family: "Roboto Condensed", arial;
  padding: 8px;
}


/* viewTodo Styles ; ie: a single todo entry.*/

.todo {
  width: 200px;
  background: #ddd;
  font-size: 13px;
  height: 24px;
  margin: 8px 0;
  display: flex;
  padding: 4px 8px;
  align-items: center;
}


.todo-dropzone {
  padding: 2px 6px;
  border: 2px dotted #ddd;
}

.todo-input  {
  width: 200px;
  background: #ddd;
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-draggable {
  cursor: drag;
}

.todo-edit-btn, .todo-delete-btn {
  opacity: 0.1;
  cursor: pointer; 
}

.todo-edit-btn:hover {
  opacity: 0.5;
  cursor: pointer; 
}

/* Days / Day Pickers + Other stuff  ---------------------------------------------------------------- */

.day-advance {
  font-size: 40px;
  cursor: pointer;
}

.week-advance {
  font-size: 20px;
  cursor: pointer;
}

/* TodoList styles  ------------------------------------------------------------------ */

.todoListName {
  text-align: center;
  padding: 16px 0;
}

.date-dayOfWeek {
  font-size: 35px;
  text-transform: uppercase;
}

.date-dayOfWeek--active {
  font-size: 35px;
  text-transform: uppercase;
  color: #54a0ff;
}

.date-moDayYear {
  font-size: 16px;
  text-transform: uppercase;
}

.date-moDayYear--active {
  font-size: 16px;
  text-transform: uppercase;
  color: #54a0ff;
}

/* ---------------------------------------------------------------------------*/

/* utilities */
.pointer {
  cursor: pointer;
}

.cursor-drag {
  cursor: move;
  cursor: drag;
}
