body {
  background: #333;
  color: #dfdfdf;
  font-family: arial;
  padding: 32px;
}


/* viewTodo Styles ; ie: a single todo entry.*/

.todo {
  width: 200px;
  background: #444;
  font-size: 13px;
  height: 24px;
  margin: 8px 0;
  display: flex;
  padding: 4px 8px;
  align-items: center;
}

.todo-input  {
  width: 200px;
  background: #444;
  font-size: 13px;
  border: none;
  outline: none;
  color: white;
}

.todo-completed {
  text-decoration: line-through;
}

.todo-draggable {
  cursor: drag;
}


.todo-edit-btn {
  opacity: 0.1;
  cursor: pointer; 
}

.todo-edit-btn:hover {
  opacity: 0.5;
  cursor: pointer; 
}


/* ---------------------------------------------------------------------------*/

/* utilities */
.pointer {
  cursor: pointer;
}

.cursor-drag {
  cursor: move;
  cursor: drag;
}
