body {
  background: #333;
  color: #dfdfdf;
  font-family: arial;
  padding: 32px;
}


/* viewTodo Styles ; ie: a single todo entry.*/

.todo {
  width: 200px;
  background: #444;
  font-size: 13px;
  height: 24px;
  margin: 8px 0;
  display: flex;
  padding: 4px 8px;

  align-items: center;
}

.todo-editing {
  border: none;
  outline: none;
  color: white;
  padding: 0;
  margin: 0;
}

.todo-completed {
  text-decoration: line-through;
}


/* ---------------------------------------------------------------------------*/

/* utilities */
.pointer {
  cursor: pointer;
}
